body {
    font-family: 'Lobster', cursive;
    padding-top: 20px;
}

html, body{
  height: 100%;
}

.navbar {
  margin-bottom: 0px;
  padding: 20px 15px;
  font-size: 1.75em;
  /*Used for older browsers*/
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  /* opacity: 0.5; */
}

.navbar-inverse .navbar-brand {
  color: #EEE;
  text-shadow: 1px 1px 10px black;
  font-size: 1.75em;
}

.navbar-inverse .navbar-brand:hover {
  color: red;
}

.navbar-inverse .navbar-nav >li > a {
  color: #EEE;
  text-shadow: 1px 1px 10px black;
}

.navbar-inverse .navbar-nav >li > a:hover {
  color: red;
}

.navbar-inverse .navbar-nav > .active > a {
  color: red !important;
  background: none !important;
  font-size: 1.5em;
}

.cbp-af-header-shrink{
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 1.5em;
  opacity: 0.9;
}

.fill-screen{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.gameVideo{
  opacity: 0.7;
  object-fit: fill;
}

.readMore{
  position: absolute;
  top: 80% !important;
  left: 50% !important;
  text-align:center;
  font-size: 5em;
  color: black;
  text-shadow: 1px 1px 10px black;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%,-50%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.readMore p{
  font-size: 50%;
}

.readMore:hover{
  cursor: pointer;
  position: absolute;
  text-shadow: 1px 1px 10px white;
  font-size: 8em;
}

.fixed-image{
  background-attachment: fixed;
}


.aboutUs-section{
  padding: 20px 50px;
  text-align: center;
  color: white;
  /* background-image: linear-gradient(to bottom, #DDD, #AAA); */
    background-image: linear-gradient(to bottom, rgba(119,255,119,.5), rgba(85,153,85,.5));
}

.aboutUs-section h1 {
  font-size: 3.5em;
  text-shadow: 1px 1px 5px black;
}

.aboutUs-section h2 {
  text-align: justify;
  font-size: 2.5em;
  text-shadow: 1px 1px 5px black;
}

.aboutUs-section p {
  text-align: justify;
  font-size: 1.75em;
  color: black;
}

.features-section{
  padding: 20px 50px;
  color: white;
  /* background-image: linear-gradient(to bottom, #DDD, #AAA); */
    /* background-image: linear-gradient(to bottom, rgba(173,216,230,.5), rgba(34,34,170,.5)); */
    background-image: linear-gradient(to bottom, rgba(119,255,119,.5), rgba(85,153,85,.5));
}

.features-section h1 {
  text-align: center;
  font-size: 3.5em;
  text-shadow: 1px 1px 5px black;
}

.feature-element {
  text-align: center;
}

.feature-element h2 {
  text-shadow: 1px 1px 5px black;
}

.feature-element p {
  color: black;
  font-size: 1.45em;
}

.feature-element img{
  width: 200px;
  height: 200px;
  box-shadow: 1px 1px 10px black;
}

.contactUs-section{
  color: white;
  background-image: linear-gradient(to bottom, #CCC, #333);
  text-align: center;
}

.contactUs-section h1{
  font-size: 3.5em;
  text-shadow: 1px 1px 5px black;
}

.contactUs-section span{
  font-size: 1.0em;
  color: lightblue;
  text-shadow: 1px 1px 5px black;
}

.contactUs-section a{
  font-size: 1.0em;
  color: lightblue;
  text-shadow: 1px 1px 5px black;
}

/*For smaller devices since the images may be removed for older versions of OS*/
@media (max-width: 1024px) {
  .fixed-image{
    background-attachment: scroll;
  }
}

@media (min-width: 1240px) {
  .feature-element img{
    width: 350px;
    height: 350px;
    box-shadow: 1px 1px 10px black;
  }
}

footer {
  background-color: #333;
  color: #eee;
  padding: 20px;
  text-align: center;
  text-shadow: 1px 1px 5px black;
}
